body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.mapboxgl-missing-css {
  display: none;
}

.map {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
  touch-action: none;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
}

.map-inner {
  width: 100%;
  height: 100%;
  position: relative;
}

.marker-camera {
  background-image: url("./assets/images/marker/camera.svg");
  background-size: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.marker-point {
  background-image: url("./assets/images/marker/marker.svg");
  background-size: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-canvas {
  left: 0px;
}

iframe {
  border: 0;
}
